

<section>
    <h3>Ajouter une publication</h3>
    <div class="card">
        <div class="card-body">
            <form id="publicationForm" [formGroup]="form" (ngSubmit)="commandUser()">
                <div class="row">
                    <div class="mb-2 col-6">
                        <label for="titreCommandInput" class="form-label">Titre de la commande</label>
                        <input type="text" class="form-control" formControlName="object" id="titreCommand" required>
                    </div>
                    <div class="mb-2 col-6">
                        <label for="category" class="form-label">Type de couturier</label>
                        <select name="category" class="form-control" formControlName="category" id="category">
                            <option value="Couture_simple">Couture Simple</option>
                            <option value="Haute_Couture">Haute couture</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="mb-2 col-6">
                        <label for="content" class="form-label">Description de votre modèle</label>
                        <textarea class="form-control" id="content" formControlName="content" rows="3" required></textarea>
                    </div>
                    <div class="mb-2 col-6">
                        <p-multiSelect [options]="municipalities" [(ngModel)]="selectedMunicipality" formControlName="municipality" defaultLabel="--Commune" [selectionLimit]="1" [showHeader]="false" optionLabel="libelle"></p-multiSelect>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 mb-2">
                        <label for="dateDmd" class="form-label">Date et heure de la demande</label>
                        <input type="datetime-local" class="form-control" formControlName="dateDmd" id="dateDmd" required>
                    </div>
                    
                    <div class="col-6 mb-2">
                        <label for="dateRetrait" class="form-label">Date et heure de retrait</label>
                        <input type="datetime-local" class="form-control" formControlName="dateRetrait" id="dateRetrait" required>
                    </div>
                </div>

                <div>
                    <img src="{{url}}" alt="" *ngIf="!!url" class="imageProfil m-2">
                </div>
                <div class="mb-2">
                    <label for="imagesInput" class="form-label">Ajouter des images</label>
                    <input type="file" (change)="uploadFile($event)" formControlName="imageModels" class="form-control load" id="imagesInput" multiple required>
                </div>
                
                <button type="submit" class="btn btn-primary btnSubmit">Publier</button>
            </form>
        </div>
    </div>
</section>