<section>
  <div class="container profil">
    <div class="card">
      <form>
        <h4 class="mt-2 p-2">Completer votre profil</h4>
        <img src="https://www.seekpng.com/png/detail/921-9218037_person-icons-yellow-icone-amarelo-pessoa-png.png" alt="" class="imageProfil">
        
        <div class="row">
          <div class="m-2">
            <input type="text" placeholder="Adresse" required>
          </div>
          <div class="m-2">
            <input type="text" placeholder="Ville" required>
          </div>
          <div class="m-2">
            <input type="text" placeholder="Commune" required>
          </div>
        </div>
        <button type="submit" class="btn btn-primary m-2 btnSubmit" routerLink="">Enregister</button>
      </form>
    </div>
  </div>
  
</section>