section{
    background-color: var(--yellow);
    height: 100vh;
}
.profil{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 600px;
    padding-top: 130px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.imageProfil{
    width: 130px;
    height: 130px;
    border-radius: 50px;
    
}

.btnSubmit{
    background-color: var(--yellow);
}