section{
    background-color: var(--yellow);
    height: 100vh;
}
.profil{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 370px;
    padding-top: 60px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.load{
    width: 125px;
    height: 30px;
}

.imageProfil{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    
}

.btnSubmit{
    background-color: var(--yellow);
}